h1{
	font-size: 50px;

}
h2{

	font-size: 40px;
}

body{

	font-family: 'Poppins', sans-serif;
	margin: 0px;
}
.name-highlight{

	color: orange;
}
.name2{

	color: rgb(204, 204, 0);
}
.half-width{

    width: 43%;
	margin-left: 4%;
	padding-left: 2%;
	float: left;
	


}
.half-width img{

	width: 100%;

}
.top-banner{

	background-image: url("images/top-banner.png");
	background-repeat: no-repeat;
	
}
section{

	height: 500px;
	padding-bottom: 150px;
}
.link-button{

   text-decoration: none;
   background-image: linear-gradient(45deg, orange,tomato);
   padding: 10px 20px;
   font-weight: 700;
   color: white;
   border-radius: 5px;
}
.dream-area{
	background-image: url("images/dream-bg.png");
	background-repeat: no-repeat;
	background-position: right;
	background-size: 65px;
}

.single-experience{
	box-shadow: 10px 10px 40px black;
	height: 75%;
	border-radius: 15px;

}
.experience-area{
	background-image: url("images/exp-bg.png");
	background-repeat: no-repeat;
	background-position: left;
	background-size: 80px;
}
#full-stack{
	border-left: 5px solid;
	border-image: linear-gradient(180deg,orange, tomato);
	border-image-slice: 1;
}
#junior-web{
	border-left: 5px solid;
	border-image: linear-gradient(180deg, black,blue);
	border-image-slice: 1;
}
.education{
	background-image: url("images/edu-bg.png");
	background-repeat: no-repeat;
	background-position: right;
	background-size: 15%;
}
.university-edu{
	box-shadow: 10px 10px 50px gray;
	height: 60%;
	border-radius: 45px;

}
.college-edu{
	box-shadow: 10px 10px 50px gray;
	height: 60%;
	border-radius: 45px;
}
.project{

	height: 400px;
	padding-bottom: 150px;
	background-image: url("images/exp-bg.png");
	background-repeat: no-repeat;
	background-position: left;
	background-size: 80px;
}


footer p{

	text-align: center;
	font-size: 15px;
}


